<div class="container-fluid">
    <form action="" id="new_task-form">
       <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="task_name" class="control-label">Task Name</label>
                    <input type="text" name="task_name" id="task_name" class="form-control form-control-sm rounded-0" value="{% if employee.name %}{{employee.name}}{% endif %}" required>
                </div>
               
            
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label for="employee_id" class="control-label">Employee Name</label>
                    <select name="employee_id" id="employee_id" class="form-select form-select-sm rounded-0" required>
                        {% if not employee.department %}
                        <option value="1" disabled selected>Please Select Here</option>
                        {% else %}
                        <option value="1" disabled>Please Select Here</option>
                        {% endif %}
                        {% for i in employee %}
                            {% if employee.department and employee.department.id == department.id %}
                            <option value="{{ i.id }}" selected>{{ i.name }}</option>
                            {% else %}
                            <option value="{{ i.id }}">{{ i.name }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="status_id" class="control-label">Task</label>
                    <select name="status_id" id="status_id" class="form-select form-select-sm rounded-0" required>
                        {% if not employee.department %}
                        <option value="1" disabled selected>Please Select Here</option>
                        {% else %}
                        <option value="1" disabled>Please Select Here</option>
                        {% endif %}
                        {% for i in status %}
                            {% if employee.department and employee.department.id == department.id %}
                            <option value="{{ i }}" selected>{{ i }}</option>
                            {% else %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                </div>
                
            
                
            </div>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('#new_task-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save_new_task' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert_toast("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>